/* menu de navegación */
.menu{ background-color: rgb(0, 0, 0);}

.menu a{
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.menu-item:hover {color:#febe33; }
.navbar-nav .nav-link.active{color: #febe33;}

.boton-registro{
  width: 400px;
  height: 55px;
  font-size: 25px;
  font-weight: 700;
  text-shadow: none;
}

.boton-registro{ box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.486);}

.enfoques{
  background: black;
  padding: 10px;
  border-radius: 20px;
}
.menu a{
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}
.bg-nearshoring{
  position: absolute;
  width: 100%;  
  height: 100vh;
  object-fit: cover;
}
.nearshoring-text{
  position: relative;
  z-index: 2;
  text-shadow: 4px 4px 4px black;
}
.foro-nearshoring {
  background-image: url('/bgForonearshoring.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.foro-frase {
  font-size: 20px;
}

.wrapper-main-foro {
  background: linear-gradient(to right, rgb(6, 1, 109), rgba(59, 160, 237, 0.3));
  color: white;
  height: 100%;
}


label {
  font-weight: bold;
}

.foro-date {
  color: white;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 1.5em;
  color: #FEBE33;  
}
.border-end{
  border-right: solid 2px #FEBE33 !important;
}
.foro-date div {
  padding: 20px 25px;
}

.foro-date p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 0.5em;
  margin: 0;
  padding-right: 15px;
}

.foro-date p small {
  font-size: 15px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* .btn {
  background-color: black;
  color: white;
} */

.btn {
  background-color: rgb(255, 0, 0);
  color: white;
  transition: box-shadow 0.3s;
}

.btn:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5); 
}

.Ticket {
  perspective: 1000px;
  will-change: transform;
  transition: transform .5s ease-in-out;
  user-select: none;
  background-color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.bg-ticket {
  position: relative;
  z-index: -1;
  user-select: none;
  color: white;
  background: radial-gradient(75.53% 100.65% at 50% 145.96%, rgba(83, 71, 255, 0.5), rgba(87, 205, 255, 0) 100%);
  padding: 20px;

}

.Ticket:hover {
  transition: transform .05s ease-in-out;
}

footer {
  background-color: #090F4D;
  color: white;
  padding: 20px;
}

.program-wrapper-speakers button {
  background-color: transparent;
  border: none;
}

.program-wrapper-speakers img {
  cursor: pointer;
  transition: all .5s ease-out;
}
.speaker-item {
  position: relative;
  margin: 0 0 1.5em;
  overflow: hidden;
}

.speaker-item img {
  filter: grayscale(100%);
  cursor: pointer;
  transition: all .3s ease-out;
  object-fit: cover;
  transition: all .3s ease-in;
}

.speaker-item:hover img {
  filter: grayscale(0%);
  box-shadow: -10px -8px 3px #e8001e;
  transform: scale(1.1);
  object-position: top;
}

.info_speakers {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  bottom: 0;
  color: white;
  background: linear-gradient(to top, black, transparent);
}
@media (width < 940px) {
  .foro-nearshoring {
    height: 100%;
  }

  .wrapper-main-foro {
    height: 100%;
  }

  h1 {
    font-size: 2em;
  }

  .foro-date {
    width: 100%;
    justify-content: center;
  }

  .foro-date p {
    font-size: 25px;
  }

  .foro-date div {
    padding: 20px 5px;
  }

  .boton-registro{
    width: auto;
  }
}